<h1>Simple sorting table example</h1>

<table>
  <thead>
    <tr>
      <th><a href (click)="sortTable('company')">Company</a></th>
      <th><a href (click)="sortTable('domain')">Domain</a></th>
      <th><a href (click)="sortTable('info.country')">Country</a></th>
      <th><a href (click)="sortTable('info.cash')">Cash</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies | sortingCompanies:path:order">
      <td>{{ company.company }}</td>
      <td>{{ company.domain }}</td>
      <td>{{ company.info.country }}</td>
      <td>{{ company.info.cash }}</td>
    </tr>
  </tbody>
</table>
